body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: yellow;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 5vw;
    line-height: 1.3 ;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    transform: scaleY(0.9);
}
.text {
    position: absolute;
    height: 100%;
    top: 0;
    left: 15%;
    right: 15%;
    animation: play 30s infinite;

}

.heading {
    margin-bottom: 5rem;
}
h1 {

    text-align: center;
}
h2 {

    text-align: center;
    text-transform: uppercase;
}
p {
    padding: 0.5rem 0;
}
@keyframes play  {
    0% {
        transform: rotateX(20deg) translate3d(0, 100rem, 0);
        opacity: 1 ;
    }
    85% {
        opacity: 1;

    }
    100% {
        transform: rotateX(20deg) translate3d(0, -150rem, 0);
        opacity: 0;

    }
}